:root {
  --body_bg: linear-gradient(90deg, rgba(52, 148, 230, 10), rgba(236, 110, 173, 0.9));
  --body_color: #1f2937;
  --link_color: navy;
  --banner_bg: linear-gradient(90deg, rgba(52, 148, 230, 10), rgba(236, 110, 173, 0.9));
  --banner_active: rgb(234, 233, 233);
  --tab_bg: #8eb6cf;
  --tab_active: white;
  --card_bg: rgb(246, 243, 243);
  --grd_color: linear-gradient(147deg, #211f1f 0%, #332f15 74%);
}

[data-theme="dark"] {
  --body_bg:linear-gradient(90deg, rgba(7, 11, 106, 100), rgba(60, 29, 44, 0.9));
  --body_color: rgb(213, 211, 211);
  --link_color: rgb(11, 193, 230);
  --banner_bg: linear-gradient(90deg, rgba(7, 11, 106, 100), rgba(60, 29, 44, 0.9));
  --banner_active: #1f2937;
  --tab_bg: linear-gradient(135deg, #426074 0%, #44466c 100%);
  --tab_active: rgb(72, 200, 255);
  --card_bg: #303030;
  --grd_color: linear-gradient(90deg, #e5a400, #D32828);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
