.AboutTab-cont{
    padding: var(--def-padding);
    margin-top: 6em;
    width: 100%;
    flex-direction: column;
    gap: 30px;
    transition: all 0.3s ease-in-out;
    ul{
        background: var(--tab_bg);
        border-radius: 25px;
        width: 100%;
        height: 40px;
        .li-active{
            border: none;
            color: var(--tab_active);
            border-bottom: none;
            box-shadow: drop-shadow(5px 5px 10px #555);

        }
        li{
            height: 100%;
            width: 100%;
            padding: 1%;
            font-family: 'PopinsMedium';
            color:var(--body_color);
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            font-size: 24px;
            text-align: center;
            &:hover{
                cursor: pointer;
                color: #e7e7e7;
            }
            &:nth-child(2){
                border-left: 1px solid #cacaca;
                border-right: 1px solid #cacaca;
            }
        }
    }
    .content{
        display: none;
    }
    .show-content{
        padding: 1em 0 1em 0;
        gap: 80px;
        width: 100%;
        height: 60vh;
        flex-wrap: wrap;
        .about-cont{
            gap: 10px;
            margin-top: 4%;
            flex-direction: column;
            width: auto;
            height: 130px;
            width: 200px;
            img{
                border-radius: 0;
                height: 80px;
                width: 80px;
                filter: drop-shadow(5px 5px 5px #555);

            }
            h1{
                font-size: 25px;
                color:var(body_color);
                font-family: 'PopinsMedium';
            }
        }
        
    }
}


@media only screen and (max-width: 1209px){
    .AboutTab-cont{
        .show-content{
            height: auto;
        }
    }
}

@media only screen and (max-width: 1024px){
    .AboutTab-cont{
        ul{
            width: 100%;
        }
    }
}
@media only screen and (max-width: 700px){
    .AboutTab-cont{
        ul{
            width: 100%;
            height: 100%;
            margin: 1em 0 0em 0;
            flex-direction: column;
            border-bottom: none;
            li{
                background: none;
                height: 50px;
                width: 100%;
                .li-active{
                &:hover{
                    color: black;
                }
                }
                &:nth-child(2){
                    border-left: none;
                    border-right: none;
                    border-top: 1px solid #cacaca;
                    border-bottom: 1px solid #cacaca;
                }
            }
        }
    }
}

@media only screen and (max-width: 500px){
    .AboutTab-cont{
        ul{
            height: 100%;
            width: 100%;
            li{
                font-size: 24px;
                text-align: center;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}
@media only screen and (max-width: 375px){
    .AboutTab-cont{
        ul{
            
            li{
                font-size: 18px;
            }
        }
    }
}