.projects-cont{
    flex-direction: column;
    padding: 1% 7%;
    .projects-statistics{
        justify-content: space-evenly;
        .statistics-frst{
            width: 33%;
            flex-direction: column;
            h1{
                font-size: 96px ;
            }
            p{
                font-size: 24px;
            }
        }
    }
}

@media only screen and (max-width:700px){
    .projects-cont{
        .projects-statistics{
            flex-direction: column;
            gap: 20px;
            .statistics-frst{
                width: 100%;
                padding: 1em 0 1em 0;
                flex-direction: column;
                h1{
                    font-size: 96px ;
                }
                p{
                    font-size: 24px;
                }
                &:nth-child(2){
                    border-left: none;
                    border-right: none;
                   
                }
            }
        }
    }
}